/* COLORS: 
purple: #a723b5	(167,35,181)
pink: #e72aa3	(231,42,163)
white: #f7f2f6	(247,242,246)
teal: #44BBA4	
blue: #031572	(3,21,114)
text/button black: rgb(46, 44, 44)
 */
  
@import url('https://fonts.googleapis.com/css2?family=Overpass&family=Roboto+Mono:wght@200;400;700&family=Roboto:wght@100;400&display=swap');

body {
  margin: 0;
}

:root {
  background: linear-gradient(to bottom, #3E5641, #3E5641);
  background-color: #93B48B;
}

body {
  /* font-family: Poppins, serif; */
  font-family: Manrope, sans-serif;
  margin: 0;
  padding: 0;
}

form {
  display: flex;

}

form > * {
  margin: 0.5rem;
}

/* Home Page Items Start */

  .homeContainer .homeBody > img {
    height: 250px;
    width: 100%;
    object-fit: cover;
  }

  .homeContainer .homeMainSection {
    background-color: white;
    height: 806px;
    border: 3px solid #ebeae5;
    font-family: 'Roboto Mono', monospace;
    font-weight: 200;
  }

  .homeContainer .homeMainSection .ReviewTitle {
    background-color: #93B48B;
    width: 300px;
    margin: auto;
    height: 40px;
    transform: translateY(55px);
    border: 3px solid #a3c59b;
    border-bottom: 0;
    text-align: center;
  }

  .homeContainer .catalogPreview {
    display: flex;
    justify-content: space-between;
    margin: 25px 25px 0 25px;
  }

  .homeContainer .catalogProduct {
    width: 32%;
    height: 450px;
    text-align: center;
  }

  .homeContainer .catalogProduct > span {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .homeContainer .reviewTitleBox {
    height: 0;
  }

  .homeContainer .productLink {
    position: absolute;
    top: 75%; 
    /* transform: translate(-50%, 350%); */
    /* margin-top: 125px; */
    background: rgba(255, 255, 255, 0.7);
    padding: 10px;
    text-decoration: none;
    color: black;
  }

  .homeContainer .productContainer {
    position: relative;
    width: 100%;
  }

  .homeContainer .homeMainSection > h1 {
    color: black;
    align-items: center;
    text-align: center;
    font-weight: 200;
  }

  .homeContainer .HOMEemptySpace {
    height: 125px;
  }

  .homeContainer .homeReviewsContainer {
    background-color: #93B48B;
    border: 3px solid #a3c59b;
    height: 250px;
    display: flex;
  }

  .homeContainer .homeReviews {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
  }

  .homeContainer .reviewPreview {
    background-color: white;
    height: 75%;
    width: 100%;
    margin: 2%;
  }

  .homeContainer .reviewPreview > img {
    width: 40%;
    margin: 10 10 0 10;
    padding: 0;
  }

  .homeContainer .customerDetails {
    display: flex;
    justify-content: space-between;
  }

  .homeContainer .reviewPreview > h3 {
    color: black;
    padding-left: 15px;
    font-family: 'Roboto Mono', monospace;
    font-weight: 400;
  }

  .homeContainer .reviewPreview h5 {
    color: black;
    padding-left: 15px;
    padding-right: 15px;
    font-family: 'Roboto Mono', monospace;
    font-weight: 400;
    transform: translateY(-10px);
  }

  .homeContainer .homeAbout {
    background-color: white;
    border: 3px solid #ebeae5;
    height: 500px;
    display: flex;
  }

  .homeContainer .homeAbout .AboutContentContainer {
    display: flex;
    flex-direction: column;
  }

  .homeContainer .homeAbout .AboutContentContainer .AboutText {
    width: 65%;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .homeContainer .homeAbout .AboutContentContainer .AboutImage {
    display: flex;
    margin-left: 70%;
    transform: translateY(-435px);
    align-self: center;
    width: 350px;
  }

  .homeContainer .homeAbout .AboutContent {
    font-family: 'Roboto Mono', monospace;
    color: black;
    font-weight: 400;
    text-align: left;
  }

  .homeContainer .homeAbout .AboutLink {
    background: #ebeae5;
    padding: 10px;
    padding-left: 10px;
    text-decoration: none;
    color: black;
    width: 85px;
  }

  .FooterNavContainer {
    background-color: #3E5641;
    border: 3px solid #354b38;
    height: 20%;
  }

  .FooterNavContent {
    display: flex;
    flex-direction: row;
    margin: 0 15 0 15;
    justify-content: space-evenly;
  }

  .footerNavCompany {
    display: flex;
    flex-direction: column;
  }

  .footerNavServices {
    display: flex;
    flex-direction: column;
  }

  .footerNavUser {
    display: flex;
    flex-direction: column;
  }

  .FooterNavLink {
    display: flex;
    flex-direction: column;
    align-items: end;
    padding: 0;
    margin: 0;
    width: fit-content;
  }

  .FooterNavText {
    color: #8aa38d;
    font-weight: 400;
    text-decoration: solid;
  }

  .FooterNavTextLink{
    color: #8aa38d;
    font-weight: 400;
    border: 0;
    padding: 0;
    padding-left: 15px;
    padding-bottom: 2px;
  }

  .FooterNavImage {
    width: 250px;
    height: auto;
  }

  /* .homeContainer .FillerDiv {
    width: 100%;
    height: 150px;
    background-color: #93B48B;
  } */

/* Home Page Items End */

/* Nav Bar Items Start */

  .navFooter {
    height: 65px;
    background-color: #4F9D69;
    display: flex;
  }

  .flowerBar {
    transform: translateY(-55px);
    width: 75%;
    height: 300%;
  }

  .preNavBar {
    height: 15px;
    background-color: 	#93B48B;
  }

  .navVisualBar {
    background: linear-gradient(to right, #BCEBCB 75%, #F7FFF6 25%);
    display: flex;
    height: 65px;
  }

  nav{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #3E5641;
    border: 3px solid #354b38;
    height: 75px;
    color: #3E5641;
    padding-bottom: 5px;
    font-family: 'Roboto Mono', monospace;
    font-weight: 400;
  }

  .navComponent {
    margin: 40px;
  }

  .navPictures {
    display: flex;
    justify-content: space-between;
    padding-top: 5px;
    margin-left: 5px;
  }

  .navButton {
    all: unset;
  }

/* Nav Bar Items End */

/* Login Form Items Start */

  .login {
    align-items: center;
  }

  .loginMain {
    width: 100%;
    margin: 0;
    background-color: yellow;
    height: 700px;
  }

  .loginFormContainer {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .loginContainer {
    background-color: white;
    border: 3px solid #ebeae5;
  }

  .loginContainer .loginForm {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    max-width: 680px;
  }

  .loginContainer .loginInputBox {
    width: 650px;
    height: 65px;
    border: 1px solid #ebeae5;
  }

  .loginContainer .loginFormDiv {
    display: flex;
    flex-direction: row;
  }

  .loginContainer .loginTitle {
    color: rgb(46, 44, 44);
    font-family: 'Roboto Mono', monospace;
    font-weight: 400;
    padding: 10px;
    margin: 0;
  }

  .loginContainer .loginText {
    color: rgb(46, 44, 44);
    font-family: 'Roboto Mono', monospace;
    font-weight: 400;
    width: 100%;
    padding-left: 15px;
  }

  .loginButton {
    background-color: rgb(46, 44, 44);
    width: 100%;
    margin-left: 7.5;
    max-width: 650px;
  }

/* Login Form Items End */

/* Frequent Questions Items Start */

  .frequentQuestionsContainer {
    background-color: white;
    border: 3px solid #ebeae5;
    border-bottom: 0;
    /* height: 100%; */
    min-height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .frequentQuestionsContainer .frequentQuestionsTextContainer {
    align-items: center;
    width: 60%;
  }

  .frequentQuestionsContainer .frequentQuestionsTitle {
    color: rgb(46, 44, 44);
    font-family: 'Roboto Mono', monospace;
    font-weight: 400;
  }

  .frequentQuestionsContainer .frequentQuestionsContentContainer {
    color: rgb(46, 44, 44);
    font-family: 'Roboto Mono', monospace;
    font-weight: 400;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
  }

  .frequentQuestionsContainer .frequentQuestion {
    background-color: #fbfbfb;
    border: 3px solid #f0ecec;
    padding: 15px;
    width: 75%;
    text-align: left;
    display: flex;
    flex-direction: column;
  }

  .frequentQuestionsContainer .frequentQuestionTitle {
    font-size: large;
  }

  .frequentQuestionsContainer .frequentQuestionContent {
    font-size: medium;
  }

  .frequentQuestionsContainer .frequentQuestionsFormContainer {
    width: 40%;
    align-items: center;
    justify-content: center;
    display: flex;
    max-height: 675px;
  }

  .frequentQuestionsContainer .frequentQuestionsForm {
    background-color: #3E5641;
    border: 3px solid #354b38;
    width: 90%;
    height: 90%;
    align-items: center;
  }

  .frequentQuestionsContainer .frequentQuestionsForm form h3 {
    color: white;
    font-family: 'Roboto Mono', monospace;
    font-weight: 400;
    padding-top: 15px;
  }

  .frequentQuestionsContainer .frequentQuestionsForm form {
    text-align: center;
    align-items: center;
    height: 100%;
    margin: 5;
    display: flex;
    flex-direction: column;
  }

  .frequentQuestionsContainer .frequentQuestionsForm form hr {
    width: 75%;
  }

  .FAQemptySpace {
    height: 125px;
    background-color: white;
    border: 3px solid #ebeae5;
    border-top: 0;
  }

  .frequentQuestionsContainer .frequentQuestionsForm .inputInfo {
    width: 350px;
    height: 65px;
    border: 3px solid #ebeae5;
    background-color: #fbfbfb;
    font-family: 'Roboto Mono', monospace;
  }

  .frequentQuestionsContainer .inputContent {
    width: 350px;
    height: 165px;
    border: 3px solid #ebeae5;
    padding: 5;
    background-color: #fbfbfb;
    font-family: 'Roboto Mono', monospace;
  }

  .frequentQuestionsContainer .formButton {
    border: 3px solid #ebeae5;
    background-color: #fbfbfb;
    color: rgb(46, 44, 44);
    font-family: 'Roboto Mono', monospace;
    width: 50%;
    font-weight: 200;
  }

/* Frequent Questions Items End */

/* Contact Items Start */

  .contactContainerMain {
    background-color: white;
    border: 3px solid #ebeae5;
    min-height: 100%;
  }
  
  .contactContainerMain .contactAboutContainer {
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .contactContainerMain .contactAboutHeading h2 {
    color: rgb(46, 44, 44);
    font-family: 'Roboto Mono', monospace;
    font-weight: 400;
  }

  .contactContainerMain hr {
    width: 75%;
    color: rgb(46, 44, 44);
  }

  .contactContainerMain .contactAboutContentAbout h4 {
    color: rgb(46, 44, 44);
    font-family: 'Roboto Mono', monospace;
    font-weight: 400;
  }

  .contactContainerMain .contactAboutContentAbout {
    width: 50%;
    margin: auto;
  }

  .contactContainerMain .contactAboutContentMission h4 {
    color: rgb(46, 44, 44);
    font-family: 'Roboto Mono', monospace;
    font-weight: 400;
  }

  .contactContainerMain .contactAboutContentMission .imageContainer {
    width: 35%;
  }

  .contactContainerMain .contactAboutContentMission .textContainer {
    width: 65%;
  }

  .contactContainerMain .contactAboutContentMission img {
    width: 100%;
  }

  .contactContainerMain .contactAboutContentMission {
    width: 50%;
    margin: auto;
    display: flex;
    justify-content: space-between;
  }

  .contactContainerMain .contactFormContainer form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .contactContainerMain .contactFormContainer form input {
    width: 500px;
    height: 50px;
    border: 1px solid #ebeae5;
  }

  .contactContainerMain form h3 {
    color: rgb(46, 44, 44);
    font-family: 'Roboto Mono', monospace;
    font-weight: 400;
  }

  .CONTACTemptySpace {
    height: 125px;
    background-color: white;
  }

  .contactButton {
    background-color: rgb(46, 44, 44);
    width: 500px;
  }

/* Contact Items End */

/* Product Items Start */

.productContainerMain {
  background-color: white;
  border: 3px solid #ebeae5;
  min-height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.productContainerMain h1,
.productContainerMain h2,
.productContainerMain h4,
.productContainerMain h5,
.productContainerMain h3 {
  font-family: 'Roboto Mono', monospace;
  font-weight: 200;
  color: rgb(46, 44, 44);
}

.productContainerMain .filterNavBar {
  background-color: #3E5641;
  border: 3px solid #354b38;
  height: 50px;
  width: 50%;
}

.productContainerMain .productDisplay {
  background-color: #fbfbfb;
  border: 3px solid #f0ecec;
  display: flex;
  width: 90%;
  margin: 10px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.productContainerMain .productDisplay .product {
  width: 22%; 
  padding: 10px;
  text-align: center;
  border: 3px solid #f0ecec;
  margin: 15px;
  box-sizing: border-box; 
}

.productContainerMain .product img {
  max-width: 90%;
}

/* Product Items End */

/* Account Items Start */

.indivAccountContainerMain {
  background-color: white;
  border: 3px solid #ebeae5;
  min-height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.indivAccountContainer {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.indivAccountContainerMain h1 {
  font-family: 'Roboto Mono', monospace;
  font-weight: 200;
  color: rgb(46, 44, 44);
}

.indivAccountContainerMain .accountDetailsContainer {
  align-items: center;
  width: 60%;
  height: 100%;
  overflow: hidden;
}

.accountDetailsContainer h5,
.accountDetailsContainer h4,
.accountDetailsContainer h3,
.accountDetailsContainer h2,
.accountDetailsContainer h1 {
  font-family: 'Roboto Mono', monospace;
  font-weight: 200;
  color: rgb(46, 44, 44);
}

.indivAccountContainerMain .accountDetails {
  background-color: #fbfbfb;
  border: 3px solid #f0ecec;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  height: 100%;
}

.indivAccountContainerMain .detailsForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.indivAccountContainerMain .detailsForm input {
  width: 100%;
  height: 50px;
}

.indivAccountContainerMain .detailsForm button {
  background-color: rgb(46, 44, 44);
  width: 100%;
  max-width: 650px;
}

.indivAccountContainerMain button {
  background-color: rgb(46, 44, 44);
  width: 100%;
  max-width: 650px;
  color: white;
}

.indivAccountContainerMain .accountOrdersContainer {
  width: 40%;
  max-height: 675px;
}

.accountOrdersContainer h5,
.accountOrdersContainer h4,
.accountOrdersContainer h3,
.accountOrdersContainer h1,
.accountOrdersContainer h2 {
  font-family: 'Roboto Mono', monospace;
  font-weight: 200;
  color: rgb(46, 44, 44);
}

.indivAccountContainerMain .accountOrdersContainer hr {
  width: 75%;
  color: rgb(46, 44, 44);
}

.indivAccountContainer .ordersDisplayDiv {
  background-color: #3E5641;
  border: 3px solid #354b38;
  width: 90%;
  height: 90%;
  overflow-y: auto;
  align-items: center;
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
  padding-top: 10px;
}

.orderDetails h4 {
  font-family: 'Roboto Mono', monospace;
  font-weight: 200;
  color: rgb(46, 44, 44);
}

.orderDetails h5,
.orderDetails h6 {
  font-family: 'Roboto Mono', monospace;
  font-weight: 400;
  color: rgb(46, 44, 44);
}

.indivAccountContainer .orderDetails {
  min-height: 250px;
  background-color: white;
  border: 3px solid #ebeae5;
  margin-top: 10px;
  width: 95%;
  text-align: center;
}

/* Account Items End */

/* .break{
  background-color: white;
  height:300px;
  width: 300px;
} */

/* .homeBody{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.homebody button {
    width: 300px;
    height: 100px;
    font-size: 20px;
} */



.why {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.why p {
  width: 700px;
  font-size: 18px;

}

.why h4 {
  font-style: italic;
  font-size: 40px;
  position:relative;
  text-align: left;
  top: 60px;
  right: 300px;

}




.enroll {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.enroll h4{
  font-size: 30px;

}

.enroll button {
  width: 300px;
  height: 100px;
  font-size: 30px;

}



h1{
  color:white;
  
}

h2 {
    text-align: center;
    color:white;
}

h3 {
  color:white;
}

h4 {
  color:white;
}

h5 {
  color:white;
}

p {
  color: white;
}









ul {
  display: flex;
  flex-direction: column;
  margin: 2rem;
  list-style-type: none;
  /* font-family: Georgia, 'Times New Roman', Times, serif; */
  display: flex;
  align-items: center;
  justify-content: space-around;

  text-align: center;

}

li {
    border: black solid 2px;
    background-color: rgba(25,108,140,255);

    width: 400px;
    height: 150px;
    padding: 50px;
    margin: 2rem;

    color: #f7f2f6;

    text-align: center;
    align-content: center;
}

.course {
    color: white;
    font-size: 30px;
    font-weight: 600;

}


button {
  color: #f7f2f6;
  font-family: Manrope, sans-serif;
  background-color: rgba(103,178,207,255);

  padding: 1rem;
  margin: 1rem;
}

a {
  color: #f7f2f6;
  text-decoration: none;
  padding: 20px;
  cursor: pointer;

}

@media screen and (max-width: 700px){
    .section__padding{
      padding: 4rem;
    }
  .section__margin{
  padding: 4rem;
}}


